---
http_interactions:
- request:
    method: get
    uri: https://geocode.xyz/+84604?auth_code=ABCDEFGHIJKLMNOPQRSTUVWXYZ&json=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{   "standard" : {      "addresst" : "1 Bonneville Shoreline Trail",      "stnumber"
        : "1",      "statename" : "UT",      "postal" : "84604",      "region" : "UT",      "prov"
        : "US",      "city" : "PROVO",      "countryname" : "United States of America",      "confidence"
        : "0.25"   },   "longt" : "-111.65065",   "alt" : {      "loc" : [         {            "staddress"
        : "810 Reforma",            "stnumber" : {},            "statename" : {},            "postal"
        : "84604",            "region" : "Son.",            "latt" : "30.53952",            "state"
        : "Son.",            "longt" : "-111.12837",            "city" : "Centro",            "prov"
        : "MX",            "countryname" : "Mexico"         },         {            "staddress"
        : "1 Bonneville Shoreline Trail",            "stnumber" : {},            "statename"
        : {},            "postal" : "84604",            "region" : "UT",            "latt"
        : "40.27759",            "state" : "UT",            "longt" : "-111.65065",            "city"
        : "PROVO",            "prov" : "US",            "countryname" : "United States
        of America"         }      ]   },   "elevation" : {},   "latt" : "40.27759"}'
  recorded_at: Wed, 27 Mar 2024 20:57:33 GMT
recorded_with: VCR 6.2.0
